@{
    ViewData["Title"] = "Home Page";
}
@model CustomersViewModel

@section HeadScripts {
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
}

<div>
    <div class="row">
        <div class="col-8"> <h3>Customers</h3> </div>
        <div class="col-4"> <a class="btn btn-success float-right" href="@Url.Action("Index","Customer")" role="button">Add Customer</a>  </div>
    </div>
    <br />
    <table class="table" id="customers">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Username</th>
          <th scope="col">Fullname</th>
          <th scope="col">Date Birth</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      @foreach (var customer in Model.Customers)
      {
          <tr>
              <th scope="row">@customer.Id</th>
              <td>@customer.Username</td>
              <td>@customer.Fullname</td>
              <td>@(customer.BirthDate == null ? "" : customer.BirthDate.Value.ToString("dd/MM/yyyy") )</td>
              <td style="text-align:center"><a class="btn btn-warning" href="@Url.Action("Index","Customer",new { id = customer.Id })" role="button">Edit</a></td>
              <td style="text-align:center"><a class="btn btn-danger" href="javascript:void(0);" onclick="deleteCustomer(@customer.Id);" role="button">Delete</a></td>
          </tr>
      }
      </tbody>
    </table>
</div>



@section Scripts {
     <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
        $(document).ready(function (){
            $('#customers').DataTable({
                 language: {
                    url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json'
                }
            });
        });
</script>

<script type="text/javascript">        
    function deleteCustomer(id) {
           Swal.fire({
             title: 'Are you sure?',
             text: "You won't be able to revert this!",
             icon: 'warning',
             showCancelButton: true,
             confirmButtonColor: '#3085d6',
             cancelButtonColor: '#d33',
             confirmButtonText: 'Yes, delete it!'
           }).then((result) => {
             if (result.isConfirmed) {
                   $.ajax({
                   type: "POST",
                   url: '@Url.Action("DeleteCustomer", "Home")',
                   data: {id},
                   success: function (result) {
                       result = result.toString();
                       if (result == 'true')
                       {
                           Swal.fire( 'Deleted!', 'Customer has been deleted.', 'success' )
                           setTimeout(function(){}, 4000); 
                           document.location = "@Url.Action("Index","Home")";
                       }
                       else
                       {
                           Swal.fire( 'Error!', 'Customer has not been deleted.', 'error' )
                       }
                   }
               });       
             }
           })
       }
</script>
}